.recipe {
  border-radius: 10px;
  box-shadow: 0px 5px 20px rgb(71, 71, 71);
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: white;
  align-items: center;
  min-width: 50%;
  max-width: 50%;
}
.recipe h1 {
  max-width: 80%;
}
.image {
  border-radius: 50%;
  max-width: 50%;
  max-height: 50%;
}
.recipe p,
ol {
  list-style: none;
  color: rgb(0, 139, 51);
  max-width: 90%;
}
